@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
	background:  #222;
	align:  center;
	font-family: comfortaa;
}

h1 {
	text-align:  center;
	color:  white;
}