@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
	/* vars */
	--fullgradient: -webkit-linear-gradient(-45deg, rgba(147,33,145,1) 0%, rgba(163,50,124,1) 25%, rgba(199,89,75,1) 50%, rgba(225,115,39,1) 75%, rgba(255,147,0,1) 100%);
	/* 3 steps */
	--gradient1: -webkit-linear-gradient(-45deg, rgba(147,33,145,1) 0%, rgba(173,61,111,1) 50%, rgba(199,89,75,1) 100%);
	--gradient2: -webkit-linear-gradient(-45deg, rgba(173,61,111,1) 0%, rgba(199,89,75,1) 50%, rgba(225,115,39,1) 100%);
	--gradient3: -webkit-linear-gradient(-45deg, rgba(199,89,75,1) 0%, rgba(225,115,39,1) 50%, rgba(255,147,0,1) 100%);

	--background: #222;
	--textcolor: white;
}

* {
	margin: 0;
	font-family: rubik;
	color: var(--textcolor);
	background: var(--background);
}

.page {
	margin-top: 1vh;
	margin-right: 1vw;
	margin-bottom: 1vh; 
	margin-left: 1vw;
}

h1 {
	font-size: 4vw;
}

p {
	font-size: 1.4vw;
}

p a {
	color: var(--textcolor);
	text-decoration: none;
}

p a:hover {
	color: orange;
	background: var(--fullgradient);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	transition: 0.2s;
}

/* nav */

nav {
	height: 20px;
	padding: 10px;
	padding-right: 2vw;
}

nav a {
	text-decoration: none;
	color: white;
	float: right;
	margin-left: 1vw;
	font-size: 20px;
}

nav li a:nth-child(3):hover {
	background: var(--gradient1);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	transition: 0.2s;
}

nav li a:nth-child(2):hover {
	background: var(--gradient2);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	transition: 0.2s;
}

nav li a:nth-child(1):hover {
	background: var(--gradient3); 
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	transition: 0.2s;
}

nav li {
	list-style-type: none;
}


/* text cycler */

.cycle-sentence {
	text-align: left;
}

.cycle-words span {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 6s linear infinite 0s;	
}

.cycle-words {
	margin-bottom: 2vh;
}

/* https://www.schemecolor.com/purple-to-orange.php */

.cycle-words span:nth-child(1) {
    -webkit-animation-delay: 0s; 
	-ms-animation-delay: 0s; 
	animation-delay: 0s;
	background: var(--gradient1);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.cycle-words span:nth-child(2) { 
    -webkit-animation-delay: 2s; 
	-ms-animation-delay: 2s; 
	animation-delay: 2s;
	background: var(--gradient2);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.cycle-words span:nth-child(3) { 
    -webkit-animation-delay: 4s; 
	-ms-animation-delay: 4s; 
	animation-delay: 4s; 
	background: var(--gradient3); 
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

/* footer */

footer {
	position: fixed;
	top: 97%;
	margin-left: 0.5vw;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	color: orange;
	background: var(--fullgradient);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	transition: 0.2s;
}

/* mobile */

@media only screen and (max-width: 600px) {
	.page {
		margin-left: 5vw;
	}

	h1 {
		font-size: 25px;
	}

	p {
		font-size: 15px;
	}

	nav a {
		text-decoration: none;
		margin-left: 10px;
		font-size: 15px;
		background: #333;
	}

	nav {
		background: #333;
	}

}